<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.e3rp4y.wf.emacs</string>
	<key>connections</key>
	<dict>
		<key>34367882-6EE8-442D-AAAC-94757F1EF91B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F2BF273-3AAB-4F54-996F-BA85859EDB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7801B49A-9045-4ED8-842C-820F0BB5AA2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3E25E03-E4C6-4204-9CD5-CD3253A71431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC1892A3-792F-4B5C-B369-8AA8D7BAABE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3E25E03-E4C6-4204-9CD5-CD3253A71431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peer Xu</string>
	<key>description</key>
	<string>Workflow of Emacs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emacs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Emacs.app/Contents/MacOS/Emacs --daemon</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F2BF273-3AAB-4F54-996F-BA85859EDB59</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>emacs</string>
				<key>text</key>
				<string>Emacs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34367882-6EE8-442D-AAAC-94757F1EF91B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -c {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3E25E03-E4C6-4204-9CD5-CD3253A71431</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>emacsclient</string>
				<key>text</key>
				<string>Emacs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7801B49A-9045-4ED8-842C-820F0BB5AA2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ec</string>
				<key>text</key>
				<string>Emacs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC1892A3-792F-4B5C-B369-8AA8D7BAABE3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34367882-6EE8-442D-AAAC-94757F1EF91B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6F2BF273-3AAB-4F54-996F-BA85859EDB59</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7801B49A-9045-4ED8-842C-820F0BB5AA2F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B3E25E03-E4C6-4204-9CD5-CD3253A71431</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EC1892A3-792F-4B5C-B369-8AA8D7BAABE3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.e3rp4y.me</string>
</dict>
</plist>
